:root {
  --primary-color: rgb(0, 42, 0);
  --secondary-color: rgb(105, 46, 0);
  --bookshelf-color: rgb(71, 29, 0);
  --shelf-color: rgb(38, 16, 0);
  --general-font:
    "Faculty Glyphic", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: var(--general-font);
}

header {
  box-shadow: 0 5px 20px black;
  z-index: 1;
}

header,
footer {
  background-color: var(--secondary-color);
  justify-items: center;
  color: white;
  a {
    color: white;
    :visited {
      color: currentColor;
    }
  }
}

main {
  flex-grow: 1;
  background-color: var(--primary-color);
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 6px;
}

button {
  font-family: var(--general-font);
  background-color: var(--bookshelf-color);
  color: white;
  font-weight: 500;
  border: 2px solid white;
  font-size: 1.1rem;
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

dialog {
  background-color: var(--secondary-color);
  color: white;

  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    justify-items: start;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 16px;
  }
}

.bookshelfs {
  background-color: var(--bookshelf-color);
  grid-row: 1 / -1;
  margin: 50px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 10px black;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.shelf {
  display: flex;
  align-items: end;
  background-color: var(--shelf-color);
  margin: 20px;
}

.book {
  writing-mode: sideways-lr;
  padding: 4px 2px;
  border-radius: 2px;
}

.book:hover {
  filter: brightness(80%);
}

#the-lord-of-the-ring {
  background-color: blue;
}

#harry-potter {
  background-color: red;
}

#orwell-1984 {
  background-color: orange;
}

.add-book-button {
  grid-row: 2;
  grid-column: 2;
  justify-content: center;
  justify-self: start;
  align-self: start;
}
